<app-welcome-title></app-welcome-title>
<app-welcome-cards-wrapper></app-welcome-cards-wrapper>
<app-powerfull-wrapper></app-powerfull-wrapper>
<app-get-started></app-get-started>
<app-subscribe></app-subscribe>
