<div class="dialog-wrapper">
    <h3>{{ dialogData.name }}</h3>
    <p class="price"><span>{{ plan.currency }} {{ plan.priceCents | symbolBetweenNumbers:' ' }}</span>/{{  plan.paymentInterval || plan.interval }}</p>
    <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus ullam officia velit corrupti impedit ut quod tenetur vero id dicta?</p>
    <button mat-button class="buy-btn">Buy</button>
</div>
