.welcome-wrapper {
    background: #5b54f0;
    height: 100%;
    padding: 120px 0 200px 0;

    .welcome {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        h1 {
            font-weight: bold;
            font-size: 48px;
            color: #fff;
            line-height: 72px;
        }
        .list-wrapper {
            max-width: 450px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            ul {
                li {
                    display: flex;
                    align-items: center;
                    color: #fff;
                    font-weight: 600;
                    font-size: 16px;
                    margin: 20px 0;
                    img {
                        margin-right: 23px;
                    }
                }
            }
        }
        .get-demo {
            background: #14cf74;
            border-radius: 4px;
            font-weight: bold;
            font-size: 18px;
            color: #fff;
            border: none;
            padding: 5px 40px;
            margin-top: 50px;
        }
    }
}
