$footer-background: #5B54F0;
::placeholder {
  color: white;
}

textarea:focus, input:focus, button:focus{
  outline: none;
}

input {
  color: white;
}
input:focus {
  color: white;
}


footer {
  background-color: $footer-background;
  color: #FFFFFF;
  padding: 70px 0px;
  width: 100%;

}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and (max-width: 817px) {
    flex-direction: column;
    align-items: center;
    
  }
}

.footer-item {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  @media screen and (max-width: 817px) {
    display: flex;
    width: 100%;
    max-width: 360px !important;
    align-items: center;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
  }
}

.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 20px;
}

.text {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 20px;
}

.get-in-touch {
  max-width: 263px;
}

.input-block {
  display: flex;
  justify-content: space-between;
  border: 0.5px solid #8D99AE;
  border-radius: 4px;
  margin-bottom: 30px;
}
.input-block input {
  background-color: transparent;
  border: none;
  max-width: 223px;
  font-size: 14px;
  padding: 13px 0 15px 20px;
}
.input-block svg {
  width: 18px;
  height: 18px;
}
.input-block button{
  background: #ffffff;
  width: 42px;
  border: none;
  border-radius: 4px;
}

.social-icons {
  display: flex;
}
.social-icons svg {
  max-width: 19px;
  max-height: 16px;
}

.icon {
  margin-right: 24px;
}
.link {
  color: white;
}
