<footer>
  <div class="footer-wrapper container">
    <div class="footer-item about-us">
      <span class="title">About us</span>
      <a class="link text">About us</a>
      <a class="link text">Become a patron</a>
      <a class="link text">FAQs</a>
    </div>
    <div class="footer-item features">
      <span class="title">Features</span>
      <a class="link text">Subscription Plans</a>
      <a class="link text">Pricing</a>
    </div>
    <div class="footer-item contact-us">
      <span class="title">Contact Us</span>
      <a class="link text" href="mailto:hello@gmail.com">hello@gmail.com</a>
      <span class="text">
        Studio M, 4th Floor8 Lower <br>
        Manchester street, M1 5QF
      </span>
      <a class="link text">+38 976 0875 9922</a>
    </div>
    <div class="footer-item get-in-touch">
      <span class="title">Get in touch</span>
      <span class="text">Once a week we send the most popular articles and promotional offers</span>
      <div class="input-block">
        <input type="text" placeholder="Enter your e-mail here">
        <button mat-button>
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M0.306883 6.50234L4.05277 7.81523C4.32947 7.91256 4.63818 7.88101 4.88665 7.73123L13.2052 2.71345L6.34406 8.89923C6.15912 9.06589 6.05371 9.29701 6.05277 9.53834L6.02924 14.8974C6.02735 15.3788 6.72335 15.5197 6.92994 15.0797L8.76194 11.1774C8.87441 10.9383 9.17982 10.8419 9.42171 10.9694L14.2801 13.5272C14.585 13.6881 14.9629 13.4894 14.9789 13.1601L15.609 0.465449C15.625 0.141449 15.2796 -0.0892172 14.9615 0.0334494L0.293236 5.67434C-0.104411 5.82723 -0.0954696 6.36145 0.306883 6.50234Z"
              fill="#5B54F0" />
          </svg>
        </button>
      </div>

      <div class="social-icons">
        <div class="icon facebook">
          <svg width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M7.56284 2.82979C7.12568 2.70213 6.62295 2.61702 6.16393 2.61702C5.59563 2.61702 4.37158 2.97872 4.37158 3.68085V5.3617H7.27869V8.19149H4.37158V16H1.44262V8.19149H0V5.3617H1.44262V3.93617C1.44262 1.78723 2.44809 0 4.87432 0C5.70492 0 7.19126 0.0425532 8 0.319149L7.56284 2.82979Z"
              fill="white" />
          </svg>
        </div>
        <div class="icon twitter">
          <svg width="19" height="13" viewBox="0 0 19 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M15.1102 2.03247C15.1102 2.03247 15.1102 1.88729 15.1102 2.03247C14.3622 1.30659 13.4646 1.01623 12.5669 1.16141C13.4646 1.01623 13.9134 0.725881 14.063 0.580705C14.063 0.435528 14.063 0.290352 13.9134 0.290352C13.4646 0.290352 13.0157 0.435528 12.7165 0.580705C13.1654 0.290352 13.315 0.145176 13.315 0C12.8661 0 12.4173 0.290352 11.8189 0.725881C11.9685 0.435528 12.1181 0.290352 11.9685 0.145176C11.6693 0.290352 11.5197 0.435528 11.3701 0.725881C10.9213 1.16141 10.622 1.45176 10.4724 1.88729C9.87402 2.90352 9.4252 3.77458 9.12598 4.79081H8.97638C8.67717 4.35528 8.22835 3.91976 7.62992 3.6294C7.0315 3.19387 6.28346 2.90352 5.38583 2.46799C4.48819 2.03247 3.59055 1.59694 2.54331 1.30659C2.54331 2.32282 2.99213 3.19387 4.03937 3.77458C3.74016 3.77458 3.29134 3.77458 2.99213 3.91976C2.99213 4.79081 3.74016 5.51669 5.08661 5.80705C4.6378 5.80705 4.18898 5.95222 3.74016 6.24257C4.18898 7.11363 4.93701 7.40398 6.13386 7.40398C5.98425 7.54916 5.68504 7.69433 5.68504 7.69433C5.53543 7.83951 5.38583 8.12986 5.53543 8.42022C5.83465 8.85574 6.13386 9.00092 6.88189 9.00092C5.83465 10.0172 4.48819 10.5979 2.99213 10.4527C2.09449 10.4527 1.04724 10.0172 0 9.1461C1.04724 10.5979 2.54331 11.7593 4.33858 12.4851C6.43307 13.0659 8.52756 13.211 10.4724 12.6303C12.4173 12.0496 14.2126 10.8882 15.5591 9.29127C16.1575 8.42022 16.6063 7.54916 16.7559 6.6781C17.8032 6.6781 18.5512 6.38775 19 5.80705C18.7008 5.95222 17.9528 5.95222 16.9055 5.66187C17.9528 5.51669 18.7008 5.22634 18.8504 4.64564C18.1024 4.93599 17.3543 4.93599 16.6063 4.64564C16.4567 3.6294 16.0079 2.75835 15.1102 2.03247Z"
              fill="white" />
          </svg>
        </div>
        <div class="icon instagram">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M12.0213 7.104C12.384 7.44533 12.416 7.79733 12.416 8.14933C12.416 10.6347 10.4427 12.6293 8.01067 12.6293C5.57867 12.6293 3.59467 10.6347 3.59467 8.14933C3.59467 7.79733 3.63733 7.44533 3.73333 7.104H0V14.5707C0 15.3493 0.608 16 1.33333 16H14.6667C15.392 16 16 15.3493 16 14.5707V7.104H12.0213ZM10.592 8.224C10.592 9.78133 9.36533 11.0507 7.872 11.0507C6.37867 11.0507 5.16267 9.78133 5.16267 8.224C5.16267 6.66667 6.37867 5.408 7.872 5.408C9.36533 5.408 10.592 6.66667 10.592 8.224ZM14.912 3.28533C14.912 3.54133 14.6667 3.75467 14.3573 3.75467H12.2347C11.9253 3.75467 11.6587 3.54133 11.6587 3.28533V1.54667C11.6587 1.29067 11.9253 1.09867 12.2347 1.09867H14.3573C14.6667 1.09867 14.912 1.29067 14.912 1.54667V3.28533ZM14.5707 0H1.33333C0.608 0 0 0.650667 0 1.376V4.832H5.16267C5.97333 4.24533 6.83733 3.744 7.872 3.744C8.88533 3.744 9.792 4.24533 10.592 4.832H16V1.376C16 0.650667 15.3493 0 14.5707 0Z"
              fill="white" />
          </svg>
        </div>
        <div class="icon google-plus">
          <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M8.90026 0.0115153C8.51253 0.00578058 8.1217 0 7.73087 0C6.64031 0 5.06505 0.0227596 4.02296 0.341394C2.20536 0.887625 0.945153 2.23044 0.945153 4.07397C0.945153 6.32717 2.59311 7.60171 4.91964 7.60171C4.91964 8.56061 5.02198 8.61959 5.16901 8.70434C5.25928 8.75638 5.36641 8.81812 5.47704 9.10384C3.15051 9.10384 0 9.85491 0 12.5405C0 15.0669 2.66582 16 4.96811 16C7.63393 16 10.4694 14.7937 10.4694 11.926C10.4694 10.2564 9.1825 9.20073 8.27958 8.46C7.79163 8.0597 7.41582 7.7514 7.41582 7.48791C7.41582 7.20026 7.70555 6.96871 8.08158 6.6682C8.77666 6.11272 9.76658 5.32161 9.76658 3.50498C9.76658 2.61735 9.5 1.59317 8.70026 1.0697C8.77334 1.06034 8.85962 1.05227 8.95411 1.04342C9.54902 0.987739 10.4694 0.901594 10.4694 0.273115C10.4694 0.0227596 10.227 0.0227596 10.0332 0.0227596C9.66051 0.0227596 9.28189 0.0171597 8.90026 0.0115153ZM7.1977 4.14225C7.1977 5.07539 6.80995 6.07681 5.64668 6.07681C4.1199 6.07681 3.36862 4.14225 3.36862 2.95875C3.36862 2.04836 3.78061 1.02418 4.91964 1.02418C6.44643 1.02418 7.1977 2.95875 7.1977 4.14225ZM5.3074 14.2248C6.64031 14.2248 8.53061 13.4509 8.53061 11.9943C8.53061 10.5605 6.80995 9.94595 5.52551 9.94595C4.1199 9.94595 2.3023 10.5605 2.3023 12.1309C2.3023 13.5875 3.99872 14.2248 5.3074 14.2248ZM16.5765 6.39545V4.11949H19V2.61735H16.5765V0.341394H14.9528V2.61735H12.5293V4.11949H14.9528V6.39545H16.5765Z"
              fill="white" />
          </svg>
        </div>
      </div>
    </div>
  </div>

</footer>
