.header-wrapper {
    background: #5b54f0;
    width: 100%;
    position: relative;
    @media screen and (max-width: 1100px) {
        padding: 0 10px;
    }
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 60px;

        .logo-wrapper {
            outline: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            .logo {
                width: 24px;
                height: 24px;
                background: #ffffff;
                border-radius: 4px;
                transform: rotate(-45deg);
                margin-right: 30px;
            }
            span {
                font-weight: bold;
                font-size: 18px;
                color: #fff;
            }
        }
        .navigation-wrapper {
            @media screen and (max-width: 580px) {
                display: none;
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                li {
                    margin-left: 30px;

                    a {
                        font-weight: 500;
                        font-size: 16px;
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }
        .mobile-navigation {
            @media screen and (min-width: 581px) {
                display: none;
            }
            .button-navigation {
                width: 45px;
                height: 35px;
                border: 1px solid #fff;
                border-radius: 5px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 4px 0;
                span.line {
                    height: 3px;
                    width: 80%;
                    margin: 0 auto;
                    display: block;
                    background-color: #fff;
                    border-radius: 10px;
                }
            }
            .navigation {
                overflow: hidden;
                height: 0px;
                transition: all linear 0.4s;

                position: absolute;
                bottom: 2px;
                left: 0;
                width: 100%;
                z-index: 10;
                transform: translateY(100%);

                ul {
                    display: flex;
                    flex-direction: column;
                    background-color: #5b54f0;
                    padding: 10px;
                    li {
                        margin: 10px;
                        border-bottom: 1px solid #fff;
                        text-align: center;
                        a {
                            font-weight: 500;
                            font-size: 16px;
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
