<div class="powerfull-wrapper container">
  <h2 data-aos="fade-up">Powerful & Easy to use</h2>
  <div class="powerfull-cards-wrapper">
    <div data-aos="fade-right" class="powerfull-card">
      <div class="card-img"><img src="/assets/img/react-native.svg" alt="check"></div>
      <div class="card-info">
        <h4>Authentication</h4>
        <span>Lectus pretium, magna pharetra vestibulum cus posuere risus.</span>
      </div>
    </div>
    <div data-aos="fade-up" class="powerfull-card">
      <div class="card-img"><img src="/assets/img/html.svg" alt="check"></div>
      <div class="card-info">
        <h4>Security</h4>
        <span>Lectus pretium, magna pharetra vestibulum cus posuere risus.</span>
      </div>
    </div>
    <div data-aos="fade-left" class="powerfull-card">
      <div class="card-img"><img src="/assets/img/markup.svg" alt="check"></div>
      <div class="card-info">
        <h4>Membership</h4>
        <span>Lectus pretium, magna pharetra vestibulum cus posuere risus.</span>
      </div>
    </div>
    <div data-aos="fade-right" class="powerfull-card">
      <div class="card-img"><img src="/assets/img/ionic.svg" alt="check"></div>
      <div class="card-info">
        <h4>Membership</h4>
        <span>Lectus pretium, magna pharetra vestibulum cus posuere risus.</span>
      </div>
    </div>
    <div data-aos="fade-up" class="powerfull-card">
      <div class="card-img"><img src="/assets/img/node.svg" alt="check"></div>
      <div class="card-info">
        <h4>Membership</h4>
        <span>Lectus pretium, magna pharetra vestibulum cus posuere risus.</span>
      </div>
    </div>
    <div data-aos="fade-left" class="powerfull-card">
      <div class="card-img"><img src="/assets/img/xamarine.svg" alt="check"></div>
      <div class="card-info">
        <h4>Membership</h4>
        <span>Lectus pretium, magna pharetra vestibulum cus posuere risus.</span>
      </div>
    </div>
  </div>
</div>
