<div class="get-started-wrapper">
  <div class="get-started container">
    <div data-aos="fade-right" class="get-started-info">
      <h4>It’s free, Get started today!</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut bibendum gravida mi aliquet.</p>
      <div class="reviews">
        <span>7000+ REVIEWS</span>
        <ul>
          <li><img src="/assets/img/star.svg" alt="star"></li>
          <li><img src="/assets/img/star.svg" alt="star"></li>
          <li><img src="/assets/img/star.svg" alt="star"></li>
          <li><img src="/assets/img/star.svg" alt="star"></li>
          <li><img src="/assets/img/star.svg" alt="star"></li>
        </ul>
      </div>
    </div>
    <div data-aos="fade-up" class="get-started-controlls">
      <button mat-button class="get-demo">Get a Demo</button>
      <button mat-button class="learn-more">Learn More</button>
    </div>
  </div>
</div>
