.get-started-wrapper {
  background: #fbfaff;
  .get-started {
    padding: 68px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 810px) {
      justify-content: center;
    }
    .get-started-info {
      max-width: 360px;
      width: 100%;
      h4 {
        font-weight: 600;
        font-size: 24px;
        color: #1c1f63;
      }
      p {
        font-weight: 500;
        font-size: 16px;
        color: #1c1f63;
        margin: 24px 0 40px 0;
      }
      .reviews {
        display: flex;
        span {
          font-weight: 600;
          font-size: 16px;
          color: #373a6b;
          margin-right: 33px;
        }
        ul {
          display: flex;
          li {
            margin-right: 10px;
            img {
              width: 18px;
              height: 18px;
              object-fit: contain;
            }
          }
        }
      }
    }
    .get-started-controlls {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      @media screen and (max-width: 810px) {
        margin-top: 30px;
      }

      button {
        border-radius: 4px;
        border: none;
        width: 210px;
      }
      .get-demo {
        background: #14cf74;
        color: #fff;
        border: 2px solid #14cf74;

      }
      .learn-more {
        background: #fbfaff;
        border: 2px solid #5b54f0;
        color: #5b54f0;
        margin-left: 30px;
      }
      @media screen and (max-width: 449px) {
        button {
          width: 100%;
        }
        .learn-more {
          margin-left: 0;
          margin-top: 10px;
        }
      }
    }
  }
}
