<div class="plans-wrapper container">
  <h2 data-aos="fade-up">Flexible Plans & Pricing</h2>
  <p data-aos="fade-up">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut bibendum gravida mi aliquet.</p>
  <div class="tabs-controll-wrapper">
    <div data-aos="fade-up" class="switch-button">
      <span class="active-btn"
            [style.left]="selectedPaymentType === paymentTypes.YEAR ? 'calc(50% - 1px)' : '1px'">
      </span>
      <button (click)="changPaymentType(paymentTypes.MONTH)" class="switch-button-case left"
              [ngClass]="selectedPaymentType === paymentTypes.MONTH ? 'active-case' : 'inactive-case' ">{{ paymentTypes.MONTH }}</button>
      <button (click)="changPaymentType(paymentTypes.YEAR)" class="switch-button-case right"
              [ngClass]="selectedPaymentType === paymentTypes.YEAR ? 'active-case' : 'inactive-case' "
      >{{ paymentTypes.YEAR }}</button>
    </div>
  </div>
  <app-product [paymentType]="selectedPaymentType"></app-product>
</div>
