<ng-container *ngIf="loading; else productsBlock">
  <app-loader></app-loader>
</ng-container>
<ng-template #productsBlock>
  <div [@fadeOut]="selectedPaymentType" [@fadeIn]="selectedPaymentType" class="products-wrapper">
    <ng-container *ngFor="let element of products" class="product slide">
      <div class="product-item">
        <span>{{ element.name }}</span>
        <ng-container *ngFor="let plan of element.plans" >
          <ng-container *ngIf="plan.paymentInterval === selectedPaymentType || plan.interval === selectedPaymentType ">
            <div class="price">
              <span >{{ plan.currency }}</span>
              <span >
                  {{ plan.priceCents | symbolBetweenNumbers:' ' }}
              </span>
              / {{ selectedPaymentType }}
            </div>
          </ng-container>
        </ng-container>
        <div class="feature-wrapper">
          <ng-container *ngFor="let feature of element.features">
          <div class="feature">
            <img src="/assets/img/check.svg" alt="check">
            {{ feature }}
          </div>
        </ng-container>
        </div>

      <ng-container>
        <button mat-button (click)="openDialog(element)" class="subscribe">Subscribe</button>
      </ng-container>
      </div>
    </ng-container>
  </div>
</ng-template>

