<div class="welcome-cards-wrapper container">
  <div data-aos="fade-up"
       data-aos-offset="200"
       data-aos-delay="50"
       data-aos-duration="1900"
       class="welcome-card">
    <div class="card-img bg-blue"><img src="/assets/img/check-line.svg" alt="check"></div>
    <div class="card-info">
      <h4>Authentication</h4>
      <span>Lectus pretium, magna pharetra vestibulum cus posuere risus.</span>
    </div>
  </div>
  <div data-aos="fade-up"
       data-aos-offset="200"
       data-aos-delay="50"
       data-aos-duration="1900"
       class="welcome-card">
    <div class="card-img bg-pink"><img src="/assets/img/check-line.svg" alt="check"></div>
    <div class="card-info">
      <h4>Security</h4>
      <span>Lectus pretium, magna pharetra vestibulum cus posuere risus.</span>
    </div>
  </div>
  <div data-aos="fade-up"
       data-aos-offset="200"
       data-aos-delay="50"
       data-aos-duration="1900"
       class="welcome-card">
    <div class="card-img bg-yellow"><img src="/assets/img/check-line.svg" alt="check"></div>
    <div class="card-info">
      <h4>Membership</h4>
      <span>Lectus pretium, magna pharetra vestibulum cus posuere risus.</span>
    </div>
  </div>
</div>
